<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
</head>
<body onload="onBodyLoaded()">
<div id="qrcode"></div>
<script>
    const code_url ="<%= code_url %>";

    function onBodyLoaded() {
        const qr = new QRCode("qrcode");
        qr.makeCode(code_url);
    }
</script>

</body>
</html>
